<!DOCTYPE html>
<html lang="zh-Hans-CN"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/basic">
<head>
    <title th:text="${site.siteName + ' | ' + page.pageTitle}">AdminLTE 3 | DataTables</title>

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{~/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" th:href="@{~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Buttons -->
    <link rel="stylesheet" th:href="@{~/plugins/buttons/buttons.css}">
    <link rel="stylesheet" th:href="@{~/dist/css/my.css}">
</head>
<body>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <div class="col-sm-6">
            <h1 layout:fragment="page-content-header-title" th:text="${page.pageTitle}">DataTables</h1>
        </div>

        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right" layout:fragment="page-content-header-thispath">
                <li class="breadcrumb-item"><a href="#" th:href="@{~/}">首页</a></li>
                <li class="breadcrumb-item active" th:text="${page.pageTitle}">DataTables</li>
            </ol>
        </div>

        </section>

        <!-- Main content -->
        <!--/*--> 业务界面写在这个section内。 <!--*/-->
        <section class="content" layout:fragment="main-content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="theTableCardTitle" th:text="${page.tableTitle}">DataTable with minimal features & hover style</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p>
                                这是bootstrap的一个卡片。
                                在components/data中有关于按钮、模态框等内容的示例代码
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>

</div>
<!-- ./wrapper -->


<th:block layout:fragment="add-js">
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{~/plugins/datatables/jquery.dataTables.js}"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js" th:src="@{~/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
    <!-- SweetAlert2 -->
    <script src="../../plugins/sweetalert2/sweetalert2.min.js" th:src="@{~/plugins/sweetalert2/sweetalert2.min.js}"></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js" th:src="@{~/plugins/moment/moment.min.js}"></script>
    <script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js" th:src="@{~/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/daterangepicker.js" th:src="@{~/plugins/daterangepicker/daterangepicker.js}"></script>
    <!-- page script -->
    <!--/*--> 业务使用的js放置到resources/sattic/dist/js下，通过controller中PageUtils.bindPageData方法传入路径 <!--*/-->
    <script th:src="@{~/dist/js/{jslink}(jslink=${pagejs})}"></script>

</th:block>
</body>
</html>
