<!DOCTYPE html>
<html lang="zh-Hans-CN"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="components/basic">
<head>
  <title th:text="${site.siteName + ' | ' + page.pageTitle}">AdminLTE 3 | DataTables</title>

  <!-- DataTables -->
  <link rel="stylesheet" th:href="@{~/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
  <!-- SweetAlert2 -->
  <link rel="stylesheet" th:href="@{~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
  <!-- Buttons -->
  <link rel="stylesheet" th:href="@{~/plugins/buttons/buttons.css}">
  <link rel="stylesheet" th:href="@{~/dist/css/my.css}">
</head>
<body>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="col-sm-6">
      <h1 layout:fragment="page-content-header-title" th:text="${page.pageTitle}">DataTables</h1>
    </div>

    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right" layout:fragment="page-content-header-thispath">
        <li class="breadcrumb-item"><a href="#" th:href="@{~/}">首页</a></li>
        <li class="breadcrumb-item active" th:text="${page.pageTitle}">DataTables</li>
      </ol>
    </div>

    </section>

    <!-- Main content -->
    <!--/*--> 业务界面写在这个section内。 <!--*/-->
    <section class="content" layout:fragment="main-content">
      <div class="row">
        <div class="col-12">
          <div class="card card-info card-tabs" th:id="form-card" th:if="${pageFunction} eq 'turn'">
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                <li class="pt-2 px-5"><h3 class="card-title" th:text="${page.tableTitle}">Card Title</h3></li>
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#tab-bymajor" role="tab" aria-controls="tab-bymajor" aria-selected="true">按考籍转入统计</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#tab-byschool" role="tab" aria-controls="tab-byschool" aria-selected="false">按考籍转出统计</a>
                </li>


              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="tab-bymajor" role="tabpanel">
                  <form id="form-bymajor">
                    <div class="row">
                      <div class="form-group col-md-6 row">
                        <label class="col-form-label col-md-2 col-xl-2">考次</label>
                        <select class="form-control col-md-8 col-xl-7" id="examRoundSelectBymajor" name="examRoundSelectBymajor">
                          <option th:value="${examRound}" th:each="examRound: ${examRounds}" th:text="${examRound}">考次号</option>
                        </select>
                      </div>


                      <div class="form-group col-md-6 row">
                        <label class="col-form-label col-md-2 col-xl-2">原考籍地址</label>
                        <select class="form-control col-md-8 col-xl-7" id="majorSelect" name="majorSelect">
                          <option th:value="${major}" th:each="major: ${majors}" th:text="${major}">原考籍地址号</option>
                        </select>

                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">开始统计</button>
                  </form>
                </div>

                <div class="tab-pane fade" id="tab-byschool" role="tabpanel">
                  <form id="form-byschool">
                    <div class="form-group">
                      <label>考次
                        <select class="form-control" id="examRoundSelectByschool" name="examRoundSelectByschool">
                          <option th:value="${examRound}" th:each="examRound: ${examRounds}" th:text="${examRound}">考次号</option>
                        </select>
                      </label>
                    </div>

                    <div class="form-group">
                      <label>目的地
                        <select class="form-control" id="schoolSelect" name="schoolSelect">
                          <option th:value="${school}" th:each="school: ${schools}" th:text="${school}">目的地列表</option>
                        </select>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">开始统计</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-info card-tabs" th:id="form-card" th:if="${pageFunction} eq 'student'">
            <div class="card-header">
              <h3 class="card-title" id="theTableCardTitle" th:text="${page.tableTitle}">CARD HEADER</h3>
            </div>

            <form id="studentForm">
              <div class="card-body">
                <div id="submitFormElement">
                  <div class="form-group">
                    <label >准考证号</label>
                    <select class="form-control" id="admissionNumber" name="admissionNumber" placeholder="准考证号">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="card card-info" id="print-card" style="display: none;">
            <div class="card-header">
              <h3 class="card-title" id="printCardTitle">统计结果</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <!-- ###print start### -->
              <div id="certificationText">
                <h1 id="printContextTitle" style="text-align: center">证明</h1>

              </div>
              <!-- ###print end### -->
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="button" class="btn btn-primary" onclick="printPage()">打印</button>&emsp;&emsp;
              <button type="button" class="btn btn-primary" onclick="changeDisplay();">返回</button>
            </div>
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <iframe id="printf" src="" width="0" height="0" frameborder="0"></iframe>
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->


<th:block layout:fragment="add-js">
  <!-- DataTables -->
  <script src="../../plugins/datatables/jquery.dataTables.js" th:src="@{~/plugins/datatables/jquery.dataTables.js}"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js" th:src="@{~/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
  <!-- SweetAlert2 -->
  <script src="../../plugins/sweetalert2/sweetalert2.min.js" th:src="@{~/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <!-- InputMask -->
  <script src="../../plugins/moment/moment.min.js" th:src="@{~/plugins/moment/moment.min.js}"></script>
  <script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js" th:src="@{~/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
  <!-- date-range-picker -->
  <script src="../../plugins/daterangepicker/daterangepicker.js" th:src="@{~/plugins/daterangepicker/daterangepicker.js}"></script>
  <!-- jquery-validation -->
  <script src="../../plugins/jquery-validation/jquery.validate.min.js" th:src="@{~/plugins/jquery-validation/jquery.validate.min.js}"></script>
  <script src="../../plugins/jquery-validation/additional-methods.min.js" th:src="@{~/plugins/jquery-validation/additional-methods.min.js}"></script>
  <!-- page script -->
  <!--/*--> 业务使用的js放置到resources/sattic/dist/js下，通过controller中PageUtils.bindPageData方法传入路径 <!--*/-->
  <script th:src="@{~/dist/js/{jslink}(jslink=${pagejs})}"></script>

</th:block>
</body>
</html>
